[2012-07-18 23:50] gregcaporaso opened #1 "build open-reference OTU tables for commit to github"

[2012-07-18 23:53] gregcaporaso opened #2 "map of the earth containing location of all samples (and sub-maps colored by sample site)"

[2012-07-18 23:56] gregcaporaso opened #3 "PCoA plot of all samples"
this may be challenging as it requires all samples in a single OTU table, and we're still having issues with tables of that size despite a lot of improvements to the biom-format objects

[2012-07-18 23:58] gregcaporaso opened #4 "greengenes coverage tree: how much of greengenes is covered by samples, and how much does EMP add to greengenes?"

[2012-07-18 23:59] gregcaporaso opened #5 "Chart showing # samples and fraction of samples by sample type (we had discussed adding this display to the front page and keeping it updated)"
Summary data that we'd want to include:

how many sequences?
how many collaborators?
how many biomes?
how many samples?
how many otus?

[2012-07-19 00:00] gregcaporaso opened #6 "Inventory of samples pledged, received, processed, and released (including examples of projects)"

[2012-07-19 00:01] gregcaporaso opened #7 "animated PCoA of the specific timeseries we have within the context of full PCoA plot"

[2012-07-19 00:02] gregcaporaso opened #8 "update of alpha diversity by sample type plots"

[2012-07-19 00:03] gregcaporaso opened #9 "update of 'places to look for new diversity' plot"
Also, filter new OTUs to a new-only OTU table, summarize taxa, and define how many of these new OTUs are uncharacterized at the phylum level, at the class level, ...

this is similar to this:
http://www.nature.com/ismej/journal/vaop/ncurrent/fig_tab/ismej201279t1.html#figure-title

[2012-07-19 00:03] gregcaporaso opened #10 "variance within biomes (alpha diversity, beta diversity)"

[2012-07-19 00:04] gregcaporaso opened #11 "search for additional support for rare taxa across environments"

[2012-07-19 00:04] gregcaporaso opened #12 "comparing spatial and temporal scales"
From Rob:

It would be really good if we could start delivering on the "comparing spatial and temporal scales" idea in a more specific way.  Do we have datasets that support this well currently? For example, can we look at the effects of pH or temperature or salinity etc. within and between ecosystem types?

[2012-07-19 00:05] gregcaporaso opened #13 "visualization of the environmental parameters gradients"
From Jack:

I would also like to have a visual representation of the environmental gradients we have for each ecosystem. i.e. I can imagine a figure like the attached (sorry in my hotel room) - where we represent from a gradient of 0-100 the coverage of the gradients we have already surveyed. 0 would be the lowest possible (sensible) limit for that variable and 100 the highest. So for temp we woul

[2012-07-19 00:06] gregcaporaso opened #14 "are there any shared OTUs between all ecosystems surveyed"

[2012-07-19 00:14] gregcaporaso opened #15 "compile list of EMP samples that will be included in this study"

[2012-07-20 21:43] rob-knight opened #16 "Identify good examples of studies to compare driving factors"
We need to identify cases with matched metadata on chemistry so we can ask e.g. if pH and salinity cause similar shifts in community composition across sites in the same ecosystem type, and across different ecosystem types. This depends on having the metadata in the database in a form where it can be investigated easily.

[2012-07-20 21:45] rob-knight opened #17 "Fix metadata for the studies that still don't have it, or delete those studies"
It is critical that at launch we can say we are providing a set of studies with good metadata. We therefore need to set a hard deadline for studies with sufficient metadata to actually understand the study in isolation or in combination, then delete the studies that don't meet this criterion (rather than continuing to attempt to extract metadata from people who won't provide it and having the proj

[2012-07-20 21:47] rob-knight opened #18 "Guide to evaluating studies/metadata in the database"
Short tutorial on how to tell if a study is interpretable if stored in the db (i.e. if the data and metadata are of sufficient quality to interpret the results).

[2012-07-20 22:35] gregcaporaso opened #19 "this is a test: you should get email notification of this issue"

[2012-07-20 23:26] rob-knight opened #20 "Estimates of total # taxa in each environment"
Is the quality filtering good enough to support analyses of how many taxa we expect to find in each environment with infinite sampling, or will be we embarrassed by the usual issues that plague rare biosphere work?

[2012-07-21 00:16] ackermag opened #21 "Find host-associated studies to include in analysis"
I am having the San Diego Zoo folivorous monkey gut samples processed this week.  Suggest including Becca Safran's barn swallow studies, Se Jin's fish.  ? contact Liz Costello for dogs samples.  ? Val's frogs. ?Zoo mammal studies.

[2012-07-23 22:44] ackermag opened #22 "Update on metadata and completed studies in database."
Jesse Stombaugh, Sarah Owens, Giancarlo Galindo and Gail had a conference today (7/23) to discuss the current status of studies in the database.  Sarah will update us this week with studies that have been sequenced but where we don't have the sequence data for processing.  Both Sarah and Giancarlo will actively pursue metadata for studies that have been processed but have no useful metadata.  Gail

[2012-07-29 13:44] #19 closed, assigned to nobody

[2012-07-31 20:07] #15 closed, assigned to nobody

[2012-08-02 18:48] #20 closed, assigned to nobody

[2012-08-03 17:38] #21 closed, assigned to nobody

[2012-08-03 19:20] #22 closed, assigned to nobody

[2012-08-06 17:51] gregcaporaso opened #23 "100 most wanted list"
The OTUs that are abundant across many environment types and distance from sequences in Greengenes/NCBI. We'll have to develop a sorting scheme for this, but would be a way to provide a list of the "most wanted" OTUs, or the high abundance cosmopolitan organisms that are not well-characterized.

[2012-08-06 22:53] gregcaporaso opened #24 "compile mapping file for all samples"
A mapping file should be exported from the QIIME DB for all samples that are being included. The studies that are being included are indicated in the spreadsheet here:

https://docs.google.com/spreadsheet/ccc?key=0AvglGXLayhG7dE5KWlhKN0VhaG90aWZrd090djlfUHc#gid=0

[2012-08-09 21:20] gregcaporaso opened #25 "merge per-study OTU tables to single master OTU table and post to GitHub"
The OTU table merge operation is still running (in parallel using [this code](https://github.com/EarthMicrobiomeProject/isme14/blob/master/code/scripts/parallel_merge_otu_tables.py)), and I'm not sure when it's going to complete.

**To be on the safe side**, we should begin performing analysis on OTU tables independently, as was done for the AAAS meeting. A lot of progress has been made on the mak

[2012-08-10 18:44] gregcaporaso opened #26 "taxonomy assignment on all 'new OTUs'"

[2012-08-10 18:45] gregcaporaso opened #27 "alignment and OTU tree"

[2012-08-11 16:27] #1 closed, assigned to gregcaporaso

[2012-08-12 03:18] gregcaporaso opened #28 "load final reference sequence collection to github"

[2012-08-12 03:19] gregcaporaso opened #29 "compute observed species for all otu tables"

[2012-08-12 04:12] gregcaporaso opened #30 "otu table 940 has file size 0"
need to figure out why...

[2012-08-12 04:18] #30 closed, assigned to nobody

[2012-08-12 04:34] #28 closed, assigned to gregcaporaso

[2012-08-12 23:22] #29 closed, assigned to gregcaporaso

[2012-08-15 19:48] #24 closed, assigned to nobody

[2012-08-16 16:48] #8 closed, assigned to nobody

[2012-08-16 16:49] #9 closed, assigned to nobody

[2012-08-17 12:28] lsbrueck opened #31 "abundance figure"
"Right now we are working only through the 16S - a cool figure would be like the one you did for the L4 6 year paper but for each biome - would be great to show the abundance for each taxon in such a tree - this is one suggestion" cite from Jack

Basically you want an abundance graph for each data set, or one figure with pie charts for each node showing the proportion in each data set?

[2013-07-25 17:13] alexdthomas opened #34 "Qiime meta-analysis file download issues"
I have been downloading the zipped file containing all the QIIME output files for all of the EMP studies that have been QIIME processed and noticed the following issues with the following studies.

go to http://microbio.me/qiime/fusebox.psp
Show Type: EMP
Select study if "Processed by QIIME:" == TRUE
Select Metadata Fields: ALL
Move all to Selected Metadata Fields
click continue
leave defaults on

[2013-12-12 21:01] #34 closed, assigned to nobody

[2013-12-13 20:33] gregcaporaso opened #35 "load 10k data files"
- [ ] BIOM table (will do by posting on S3 and providing a bash script which `wget`s it)
- [x] master mapping file
- [ ] tree
- [ ] new reference sequences
- [ ] taxonomy assignments (loaded into BIOM, ideally)

Currently waiting on data files from @seangibbons.

[2015-12-11 00:30] cuttlefishh commented on #4
@gregcaporaso suggested to use [ETE](http://etetoolkit.org) (python package: ete3) -- does it scale to thousands of nodes and leaves?

@rob-knight said if ETE doesn't scale, talk to Juergen at Calit2 about using their network display tool on the big wall (VROOM). Key is to color nodes and leaves by metadata (ETE does this).

[2015-12-11 00:33] cuttlefishh commented on #13
@rob-knight suggested redoing graphs of environmental parameters for EMP 20k analysis.

[2015-12-11 00:35] cuttlefishh commented on #26
@rob-knight wants to include novel diversity in EMP 20k analysis, ideally stratified by part of the phylogenetic tree covered.

[2015-12-11 00:36] cuttlefishh commented on #23
@rob-knight said: EMP most wanted and picrust definitely valuable this time around (i.e. are there “most wanted” that are in environments with “interesting” parameters?).

[2015-12-11 00:39] cuttlefishh opened #38 "global modeling"
@rob-knight asked: can we do any global modeling stuff with the dataset we have?

May be of interest to @gilbertjack and Peter Larsen.

[2015-12-11 00:41] cuttlefishh opened #39 "blooming taxa analysis"
@rob-knight suggested: we should definitely do some blooming taxa analysis as per the Shade paper and maybe encourage Ashley to do that.

Ashley Shade is at Michigan State.

[2015-12-11 01:13] ashleyshade commented on #39
Sure let me know how I can help

Ashley Shade, Ph.D.
Michigan State University
Microbiology and Molecular Genetics
On Dec 10, 2015 7:41 PM, "Luke Thompson" <notifications@github.com> wrote:

[2015-12-11 18:01] cuttlefishh commented on #39
Thanks, Ashley!  Can you send a link to the manuscript Rob is referring to?

Luke

[2015-12-11 18:02] rob-knight commented on #39
A meta-analysis of changes in bacterial and archaeal communities with time. <http://www.ncbi.nlm.nih.gov/pubmed/23575374>
Conditionally rare taxa disproportionately contribute to temporal changes in microbial diversity. <http://www.ncbi.nlm.nih.gov/pubmed/25028427>

[2015-12-11 18:03] cuttlefishh commented on #39
Thanks, Rob!

[2015-12-11 18:04] ashleyshade commented on #39
http://mbio.asm.org/content/5/4/e01371-14
http://www.cell.com/trends/microbiology/abstract/S0966-842X%2815%2900018-9

---
Ashley Shade, Ph.D.
Michigan State University
Microbiology and Molecular Genetics
Biomedical Physical Sciences rm 6179
517-884-5399 <tel:517-884-5399>
ShadeLab <http://ashley17061.wix.com/shadelab>

[2015-12-15 18:38] ashleyshade commented on #39
Just want to reiterate - would love to contribute to this!  let me know if and how we can!

[2015-12-15 19:39] cuttlefishh commented on #39
Ashley, we would love to have you help also! We are working toward a paper on 20k samples from the EMP, focusing on those with the best metadata plus a few other factors. We are currently working to identify the final set of 20k samples, and meanwhile putting together a set of 2k samples for testing analysis methods. Most of the samples in the EMP do not have a specific temporal component. Do you

[2015-12-15 20:08] ashleyshade commented on #39
The temporal component is key for the "blooming" interpretation. However, the algorithm is generic in that it could easily be applied over space instead of time, but then the interpretation would concern the biogeography of populations that are typically rare but in some localities abundant. In these cases, we would hypothesize that contextual data would explain any local high abundance of otherwi

[2015-12-15 22:09] cuttlefishh commented on #18
I will integrate this into my metadata exploration and refinement pandas notebook.

[2015-12-15 22:15] cuttlefishh commented on #17
I have two ipython notebooks using pandas to (1) explore metadata across all studies and then (2) "refine" metadata by adding fixed columns per each mapping file. I am working with Gail to make sure we have the best version of metadata for each study.

[2015-12-15 22:17] cuttlefishh commented on #16
I'm intersted in this one, and it's also related to the metadata, which I'm working on.

[2015-12-15 22:24] cuttlefishh opened #40 "driving factors of interest"
It would be good to have a list of driving factors we expect to be important in differentiating samples, based on previous work (e.g. Lozupone and Knight's finding about salinity). We can test for these directly. Note: we can also see what falls out from machine learning, etc. A few to start with:

* salinity (saline vs. non-saline)
* life style (host-associated vs. free-living)
* env_matter

[2015-12-23 06:03] cuttlefishh commented on #35
Closing this issue because @josenavas is working with 20k-sample biom tables on barnacle at UCSD.

[2015-12-23 06:03] #35 closed

[2015-12-23 06:05] cuttlefishh commented on #35
To clarify: Jose is making CR and OR biom tables. Colin Brislawn is making Swarm (v2) biom tables.

[2015-12-23 06:15] cuttlefishh commented on #27
Seems Jose should be the assignee.

[2015-12-23 06:25] cuttlefishh commented on #7
@ElDeveloper -- Would you like to take this on?

[2015-12-23 06:28] cuttlefishh commented on #2
@mortonjt -- Would you like to adapt your basemap code for this issue?

[2015-12-23 06:31] mortonjt commented on #2
I'm game

[2015-12-23 06:36] ackermag commented on #6
Sorry - do you need a list of all projects that have been sequenced in the EMP, or all the projects we want for EMP_500 (not complete yet)?

[2015-12-23 06:36] mortonjt commented on #2
Sorry. Got late into the conversion.  Basemap is statically generated, so no zooming capabilities are enabled. I do have code to generate these data to highlight different metadata.  Is that what is needed?

[2015-12-23 06:46] cuttlefishh commented on #2
Yes, that's it exactly. Priorities are roughly:

1. A 2D static map that we can color by any metadata variable, categorical or gradient. Basemap.
2. A 2D dynamic map. `ili seems better suited than bokeh by first approximation.
3. A 3D dynamic map. `ili or Emperor.

On that note, is Emperor capable of plotting metadata on any 3D array of points? This general functionality would be great. @ElDevelop

[2015-12-23 06:58] cuttlefishh commented on #3
My how time as passed. As of Dec 2015, @wasade has figured out that whole biom-format thing and is working on faster UniFrac. @ElDeveloper and @mortonjt are working on faster Emperor.

Recent update from @wasade on faster UniFrac with smaller biom tables (optimization with large biom tables continues):

    We can compute unweighted unifrac on 1000 samples
    (AG, random sample of 1k rarefied set

[2015-12-23 07:02] cuttlefishh commented on #6
@ackermag, I just assigned you to the issue since it seems most relevant to you (and I'm in an assigning mood). We don't need an inventory beyond what we have. Qiita is effectively the inventory of processed samples, and our Google Docs and the new JIRA system are the inventory of the pledged and unprocessed samples.

[2015-12-23 07:25] cuttlefishh opened #43 "update data URLs"
Merge #36 was done to update `data-urls.txt`, but the links need to be updated again to reflect the most recent locations on ftp server.

[2015-12-23 07:37] ackermag commented on #6
Does a link to the EMP studies google doc suffice?  Or, do we need to add a column with your project naming standard?

[2015-12-23 07:46] cuttlefishh commented on #6
Those are both good things to include; thanks for those suggestions. Before we think about closing the issue, let's discuss at the next EMP meeting about the best system to track studies. I'm thinking low tech with existing tools is good, as simple as workflow with three stages:

1. Google docs >
2. JIRA projects >
3. Qiita studies

Using project and sample naming strategies.

[2015-12-23 19:47] ElDeveloper commented on #2
Yes, this should be possible, the flag you would be looking for is `-a`,
and you would need to have all numeric data in those metadata columns.
I've never tried plotting latitude and longitude + PC1, but it should
work, if not we can make it happen.

On (Dec-22-15|22:46), Luke Thompson wrote:

[2015-12-23 19:49] ElDeveloper commented on #7
Sounds good, I've already animated a time-series using a dataset that's
not from the EMP, but using the EMP as the background for the animation.
Would be good to discuss what time-series are available, and what are
some of the things people would like to see in these animations.

On (Dec-22-15|22:25), Luke Thompson wrote:

[2015-12-23 20:18] cuttlefishh commented on #2
That would be awesome! I'll play around with that over break.

[2015-12-23 20:22] cuttlefishh commented on #7
Great, let's discuss at the EMP meeting on January 13. I'll assign you to the issue. Thanks!

[2015-12-23 21:04] ElDeveloper commented on #7
Sounds good!

On (Dec-23-15|12:22), Luke Thompson wrote:

[2015-12-26 20:55] mortonjt commented on #2
Not sure about what would be the best way about this?  Would you like IPython notebooks to plot all of the static maps - similar to what's going on in https://github.com/biocore/American-Gut?

Also, not sure if ili is designed to handle maps.  And Emperor is definitely not built for that.  I'd think that Google maps may be more appropriate.  However, the API is has already been [depreciated](http:

[2015-12-27 01:25] ElDeveloper commented on #2
Ah, this just reminded me, we've done some "interactive map stuff" in
Platypus, that works with the IPython notebook, see here:
http://nbviewer.ipython.org/github/biocore/Platypus-Conquistador/blob/master/ipynbs/Chasing_Platypus_via_MG-RAST.ipynb

On (Dec-26-15|12:55), mortonjt wrote:

[2015-12-27 01:42] mortonjt commented on #2
Whoa.  That's awesome!

On Sat, Dec 26, 2015 at 6:25 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2016-01-08 18:29] cuttlefishh opened #44 "similarity between biomes or sample types"
Which biomes or sample types are most similar to each other? If you take a new sample (or a site sampled regularly over time that is changing), which biome/sample type does it most closely resemble.

@ElDeveloper has some code for this.

@ackermag has noted we need to make sample_type part of the metadata template. It would be great if we could find an existing ontology to use for this. I think th

[2016-01-21 17:17] cuttlefishh opened #45 "primer effects before/after introduction of new primers"
New primers were introduced gradually in 2015. Here's what's different:

* Barcodes are now located on the forward (515) primer to enable the usage of various reverse primer constructs to enable longer amplicons (tested on 806r and 926r).
* Degeneracy was added to both the forward and reverse primers (see below), with the intent of removing known biases against Crenarchaeota/Thaumarchaeota (515f m

[2016-01-21 17:22] cuttlefishh opened #46 "16S reference database effects"
Choice of 16S database affects results to some degree. Main choices are RDP, SILVA, and Greengenes.
- Which is more representative for environmental microbes, for host-associated microbes?
- How do the results (downstream analyses) change with different databases?
- Silva has better representation -- Greengenes team are working to update accordingly.

[2016-01-21 17:29] rob-knight commented on #46
Note that we ran a lot of samples with old and new primers to compare results, is in the mSystems paper led by Embriette

[2016-01-21 17:34] cuttlefishh commented on #45
mSystems paper on new primers is here: http://msystems.asm.org/mSystems.00009-15-abstract.php

[2016-01-21 17:34] cuttlefishh commented on #46
Thanks! Link to paper: http://msystems.asm.org/mSystems.00009-15-abstract.php

[2016-02-12 19:31] colinbrislawn opened #47 "Post and improve SOPs"
Post the iPython notebooks folks have been using for data processing. We can then work to improve their documentation and verify reproducibility.

Begin writing overview of processing steps in wiki.

Open questions:
- How should we divide up the various pipelines? e.g. Should demultiplexing and quality filtering be in the same or different notebooks?
- How do we verify we are using the same softwa

[2016-02-12 19:37] colinbrislawn commented on #27
We want to use newest FastTree2 compiled with double precision. PR for this Conda-recipe is at biocore/conda-recipes#49

[2016-02-12 22:57] josenavas commented on #47
Demultiplexing and quality filtering: the idea is that we are going to grab the demultiplexed and quality filtered files from Qiita.

Software environments: everything that is a python package will be listed in the setup.py, with versions. If something is not a python software, is going to be listed in the INSTALL.md document from the repo, with versions listed.

[2016-02-12 22:59] josenavas commented on #47
Alternatively, if we have conda recipes for all the non-python packages, we can setup all of those easier, so less problems :-)

[2016-02-12 23:42] colinbrislawn commented on #47
:+1: for conda. I want each and every program, including qiime itself, in a conda package.

We have been making OK progress at www.github.com/biocore/conda-recipes. The day will come!

[2016-02-23 18:51] colinbrislawn commented on #47
@cuttlefishh @josenavas Is there a preferred parallelization toolkit for this project? I've looking to run `vsearch --derepfulllength` on a bunch of files, but was not sure if I should be using bash, or python, or the Jupyter server, or qiime parallel.
https://github.com/biocore/qiime/blob/master/qiime/parallel/poller.py

Suggestions welcome.

[2016-02-29 00:54] josenavas commented on #47
Hi @colinbrislawn not at this point - except qiime parallel, feel free to use whatever is easier for you

[2016-03-08 19:23] cuttlefishh commented on #47
Hi @colinbrislawn, how is the SOP wiki coming along?

[2016-03-08 19:43] colinbrislawn commented on #47
Haha, it's not. I've been focused on an internal project.

What's the expected timeline on this?

[2016-03-08 19:55] cuttlefishh commented on #47
That's ok; I know how it goes. I put up my notes (tables) on processing. Feel free to edit as you see fit.

There isn't a hard deadline. It would be great if we had the SOPs and Notebooks in place by the next EMP meeting on April 13.

Simultaneously I'm working with an undergrad to get the metadata in good shape, you're doing Swarm testing, Jose is working on the alignment and tree building, and D

[2016-03-08 22:09] colinbrislawn commented on #47
I think I can do SOPs by end of March, then get feedback before the meeting in April.

Swarm is unexpectedly difficult for multiple projects, and I'd like some support with part of it. I can describe my problem in a new issue or during our call tomorrow. I'm not sure what my timeline is for that.

[2016-03-08 22:24] josenavas commented on #47
@colinbrislawn feel free to drop me an email describing the issues that you're finding - from there we can communicate with more people to actual find the solution - what do you think?

[2016-03-08 23:18] colinbrislawn commented on #47
Sounds good! I'll assemble a toy example of what I'm trying to do and see who's interested in helping. Thank you @josenavas. I really appreciate the support.

[2016-03-09 19:29] cuttlefishh opened #48 "website: Defining the Tasks"
Need to update. Current text from 2012:

There will be four key output from the EMP:

1. Gene Atlas (GA) is a centralized repository and database for all information acquired during this study. This resource will follow the KBASE initiative and provide a searchable format to hold all information regarding annotation, environmental metadata and sequence. This will be a repository for all informatio

[2016-03-09 19:31] cuttlefishh opened #49 "website: Getting Involved"
Need to update Getting Involved page and Global Environmental Sample Database page, both of which are from 2012.

[2016-03-09 19:34] cuttlefishh opened #50 "website: EMP Protocols and Standards"
These need to be carefully checked and updated. Known issues:
- Sequencing primers are incorrect
- Fungal ITS protocol missing
- Analysis page refers to closed-ref only

[2016-03-09 19:36] cuttlefishh opened #51 "website: Affiliations, Publications, Meetings, Logo"
These are from c. 2012 and need to be updated.

[2016-03-09 19:38] colinbrislawn commented on #46
Greengenes is developed internally, right? First by Todd Desantis, now by @wasade and others.

What is the ROI of maintaining a database, rather than using an off-the-shelf one? I wasn't around when greengenes launched so I don't know the original motivation for it's creation, or how the field has changed since then.

Some folks [really like the SLIVA alignment](http://blog.mothur.org/2015/08/04/N

[2016-03-09 19:42] wasade commented on #46
SILVA does not construct a de novo phylogeny on each release and instead uses parsimony insertion via ARB to insert new sequences. The effect is that the SILVA is not as well suited to characterizes candidate phyla.

The Greengenes Consortium includes Rob, Phil Hugenholtz, Todd and I right now. We are very interested in expanding out development effort. The fundamental limitations right now are th

[2016-03-09 20:58] colinbrislawn commented on #46
So these things hold us back from adopting silva:
 - Newest version not available for qiime, yet.
   - Small problem. Someone (who?) is fixing this.
 - Poor support for candidate taxa.
   - Medium problem for OTU picking. May not be as bad as we think.
   - Small problem for taxonomy assignment (for de novo methods).
 - Unknown / poorly described process for ARB parsimony insertion.
   - Big probl

[2016-03-09 21:10] colinbrislawn commented on #47
Suggestion to run share scripts using the American Gut project as a template.

[2016-03-09 21:50] ackermag commented on #50
Update shipping protocols to include raw samples

[2016-03-10 20:02] cuttlefishh commented on #50
I changed the script and added a link to Jai's PeerJ paper, as per @gregcaporaso suggestions.

@colinbrislawn here is the page link: http://www.earthmicrobiome.org/emp-standard-protocols/16s-taxonomic-assignments/

[2016-03-10 22:12] cuttlefishh commented on #48
EMP webpages are now editable in markdown format [here](https://github.com/biocore/emp/tree/master/website)

[2016-03-10 22:13] cuttlefishh commented on #50
EMP webpages are now editable in markdown format [here](https://github.com/biocore/emp/tree/master/website)

[2016-03-10 22:13] cuttlefishh commented on #49
EMP webpages are now editable in markdown format [here](https://github.com/biocore/emp/tree/master/website)

[2016-03-10 22:13] cuttlefishh commented on #51
EMP webpages are now editable in markdown format [here](https://github.com/biocore/emp/tree/master/website)

[2016-03-11 04:49] ackermag commented on #51
I will update you in regard to publications I know of that should be in the
list

On Thu, Mar 10, 2016 at 2:13 PM, Luke Thompson <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2016-03-11 05:37] cuttlefishh commented on #51
Thanks, Gail. We might might a google scholar search on "earth microbiome project".

[2016-03-11 05:50] ackermag commented on #51
Not all of them acknowledged the EMP - I had to mention that to Torsten
Thomas...

On Thu, Mar 10, 2016 at 9:37 PM, Luke Thompson <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2016-03-21 01:54] cuttlefishh commented on #50
**18S Primers**

Info from Gail:

"Sequenced on the Illumina HiSeq at CU.  Primers 1391f and EukBr were designed for this experiment based on Amaral Zettler 2009 and target the V9 region of the 18S rRNA.  A blocking primer for vertebrate 18S rRNA and used at 4x the concentration of the PCR primers (Mammal_block_I-short_1391f) following the based strategy of Vestheim et al. 2008.  The blocking prim

[2016-03-22 00:25] cuttlefishh commented on #50
**5Prime Polymerase**

Greg said: VWR has a supplier called Quanta that bought 5Prime and they will be providing a reference number so that we can order the same product.

We should update arrivers@lbl.gov and cms446@cornell.edu with the new reference number.

[2016-05-11 17:36] cuttlefishh commented on #44
New EMPO ontology fills the need for sample type ontology.

[2016-06-12 23:50] cuttlefishh commented on #4
@tanaes Would you be interested in working on this figure? Basically we want a 16S tree showing how much new diversity is added by the EMP. It could be relative to the existing Greengenes tree, Silva tree, or something else.

[2016-06-12 23:57] cuttlefishh commented on #46
@ekopylova Would you be interested in comparing the amount of novel diversity as identified by the closed-reference OTU picking to GG and Sliva? This would be per sample based on the number of sequences mapped to Greengenes v.13.8 97% and Silva v.123 97%. Basically we want to know two things:

1. Which database allows us to map more reads?
2. How much novel diversity per sample? (Then we'll group

[2016-06-12 23:59] ekopylova commented on #46
When do you need to have this done by?

[2016-06-13 00:00] tanaes commented on #4
Definitely interested in contributing.

Some thoughts:

1. How do we define new diversity? is the interesting and relevant question
how much new diversity at a certain branch depth (to mitigate influence of
noise)? In the latter case, one might imagine a tree with collapsed clades,
each with a pie chart indicating fraction of novel diversity contributed at

showing cumulative proportion of new nod

[2016-06-13 00:01] cuttlefishh commented on #46
Within one week would be great as some other things depend on this. Please write down what you did so we can easily insert into the methods for the paper. Thanks!

[2016-06-13 00:11] cuttlefishh commented on #4
Glad you are interested! Both are good ideas. Let's discuss tomorrow.

[2016-06-13 01:02] ekopylova commented on #46
Not sure I have the bandwidth for that during this week. If end if next week is possible then I can.

[2016-06-13 19:42] wasade commented on #4
One thing to keep in mind, the silva and greengenes are based on full
length. It is not assured that the v4 reads in the EMP will map uniquely,
so some tips may appear "unobserved" when they're actually ambiguous.

On Sun, Jun 12, 2016 at 5:11 PM, Luke Thompson <notifications@github.com>
wrote:

[2016-06-14 14:49] ekopylova commented on #46
I can look at this now, @cuttlefishh anyone else working on?

[2016-06-14 16:00] cuttlefishh commented on #26
This is relevant to what @ekopylova and @tanaes are doing.

[2016-06-14 16:04] cuttlefishh commented on #14
@mortonjt Are you interested in taking this one on?

[2016-06-14 19:10] rob-knight commented on #46
This is important so if you can find bandwidth I'd appreciate it...thanks!

On Jun 12, 2016, at 6:02 PM, Evguenia Kopylova <notifications@github.com>
wrote:

Not sure I have the bandwidth for that during this week. If end if next
week is possible then I can.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/biocore/emp/issues/46#is

[2016-06-16 19:34] cuttlefishh commented on #39
Hi @ashleyshade -- we are mobilizing forces to analyze the first 20k EMP samples (28,685 samples with >30,000 reads per sample -> 20,347 samples). How do the next few weeks look for you? Your idea to look at macroscale patterns of rarity sounds promising. Is there a version of the BIOM table that you'd prefer to work with? We have closed-reference (Greengenes and Silva), open-reference (Greengenes

[2016-06-16 21:19] cuttlefishh commented on #39
One clarification: The sequences per sample will vary depending on the OTU picking method. The 30k seqs/sample is for the closed-ref GG table. We are comparing GG to Silva, and also looking at the other OTU tables, to decide on a reasonable set of ~20k samples to include in all analyses.

[2016-06-17 10:15] ashleyshade commented on #39
Hi Luke,
Awesome!! I am traveling but send the biom along with the metadata and I'll
have a start as I am able.

Ashley Shade, Ph.D.
Michigan State University
Microbiology and Molecular Genetics
On Jun 16, 2016 21:34, "Luke Thompson" <notifications@github.com> wrote:

[2016-06-17 10:17] ashleyshade commented on #39
O yeah and I think closed reference is best for this.

Ashley Shade, Ph.D.
Michigan State University
Microbiology and Molecular Genetics
On Jun 17, 2016 12:15, "Ashley Shade" <shade.ashley@gmail.com> wrote:

[2016-06-17 15:56] cuttlefishh commented on #39
OK great! We will get the closed-reference OTU table on the FTP site for you (probably Silva bc it assigns more reads than GG). I will email a condensed version of the mapping file, and you can let me know if it has what you need (the full one is 117MB or ~6x larger than this one).

[2016-06-24 22:47] sejsong commented on #10
gamma diversity accumulation curves like attached is also a good way to show variance in alpha within samples types.
[accum_plots.pdf](https://github.com/biocore/emp/files/332712/accum_plots.pdf)

[2016-06-27 16:38] cuttlefishh commented on #39
Ashley has posed these questions:

1.  Are there taxa that are universally rare?  If so, who are they and is there anything known about their biology that informs their ecology (e.g. spore formers/known dormant states)?  Is their rarity an artifact of detection?
2.  Are there taxa that are consistently rare in some biomes but prevalent in others (suggesting connectivity/seeding between habitats as

[2016-06-28 23:15] antgonza opened #59 "Sequences dropped by split libraries"
Check drop of sequences at the split library stage and if that has any correlation with env or something else.

The easiest that comes to mind to do this is to change params in split libraries to only discard sequences based on barcode and then compare the numbers per sample ...

[2016-07-15 16:04] cuttlefishh commented on #14
Also want to assign @amnona but it's not letting me.

[2016-07-15 16:06] cuttlefishh opened #60 "total number of OTUs"
This is a contentious question, but it might be worth addressing in the paper. Here is what I wrote to Ken Locey about it (July 15, 2016):

We have picked OTUs using a variety of methods for the first ~27,700 samples in the EMP. It's hard to define a microbial species for both technical and philosophical reasons, but the best approximation we have is probably OTUs. Closed-reference methods give a

[2016-07-15 20:56] antgonza commented on #60
Makes sense but we might need to be careful with substantives. For example, how do you defined fairest and how did you benchmark it? What about deblur vs. other algorithms, like dada2.

[2016-07-15 21:01] cuttlefishh commented on #60
Honestly, we should probably stay away from this question. But somebody asked us about it recently so it was on my mind. For many reasons, it's borderline unanswerable and meaningless.

[2016-07-15 21:05] cuttlefishh opened #61 "random forest classifier"
Some examples to consider:

* EMPO categories -- How well can we predict the EMPO category at multiple levels? (Zech did this already)
* ENVO categories
* Soil geography -- Can we predict where a soil is from based on its microbiome? (need to control for soil type, pH, other confounding factors?) @gilbertjack ask about this.

[2016-07-16 00:40] antgonza commented on #60
Should we close or label as wontfix?

[2016-07-16 01:58] cuttlefishh commented on #60
Close I guess.

[2016-08-29 18:01] cuttlefishh commented on #39
I have passed to @ashleyshade the closed-ref table with 5000 samples plus mapping file of those samples only. The files are on my Dropbox: https://www.dropbox.com/sh/pd5zjrfb0i7li6r/AAA1Wj7fnEQPucAWxE9QdDE-a?dl=0

[2016-11-01 22:14] thwilkinson opened #68 "discrepancy in 806rB reverse primer sequence"
Referring to the "16S rRNA Amplification Protocol" section, I noticed that the sequence of the 806rB reverse primer in the file "515f_806_16S_illumina_amplification_protocol_version_6_15.doc" (see page 2) is different from the 806rB sequence found in the file "515f-806rb_new.xls" (see sheet 1 of this Excel spreadsheet).

The difference is a single nucleotide (highlighted in bold below) within the

[2016-11-01 22:44] cuttlefishh commented on #68
Hi,

This is the correct sequence for the reverse primer:

Reverse primer:
From link “Current Illumina HiSeq 16S Primer Sequences (515f – 806rB)”​
CAAGCAGAAGACGGCATACGAGATAGTCAGCCAGCCGGACTACNVGGGTWTCTAAT

This is the correct sequence for the Read 2 seq primer:

Read 2 Sequencing Primer:
From link “Current Illumina HiSeq 16S Primer Sequences (515f – 806rB)”​
AGTCAGCCAGCCGGACTACNVGGGTWTCTAAT

This i

[2016-11-01 23:02] thwilkinson commented on #68
Thanks very much!!
Tom

[2016-11-02 23:16] cuttlefishh commented on #68
Website is now updated:

http://www.earthmicrobiome.org/emp-standard-protocols/16s/
http://www.earthmicrobiome.org/emp-standard-protocols/18s/
http://www.earthmicrobiome.org/emp-standard-protocols/its/

[2016-11-16 18:52] thwilkinson commented on #68
Luke, thank you for posting the updated 16S protocols on the website.

I have a new question, regarding the recipe for the PCR reaction mixture in
the new 16S protocol.  The PCR master mix component is given as 10 µL of 2X
PCR master mix (Platinum Hot Start from ThermoFisher) in a total volume of
25 µL.

Is 10 µL of 2X PCR master mix indeed what is used in practice?  Should not
the volume of the 2

[2016-11-16 18:56] cuttlefishh commented on #68
Hi Tom,

Thanks for your question.

The protocol is correct as written. The final concentration of master mix is <1x. In our experience, the protocol works fine this way and it leads to significant cost savings over many thousands of samples.

I can add a note to the protocol if this is confusing.

Cheers,
Luke

[2016-11-16 19:11] thwilkinson commented on #68
Hi Luke,

Thanks for your explanation - and hearing about your experience using < 1X
concentration master mix was reassuring.  Yes, perhaps adding a note could
provide added clarity to others that are preparing these PCR reactions.

Best regards,
Tom

On Wed, Nov 16, 2016 at 10:56 AM, Luke Thompson <notifications@github.com>
wrote:

[2016-11-19 16:30] cuttlefishh commented on #68
Hi Tom, I have added clarification to the protocol. Thanks!

[2016-12-04 20:11] TheaWhitman commented on #68
Hi Luke,

Another quick clarification question about these primers - the Illumina 5' adapter sequence / sequencing primer (AATGATACGGCGACCACCGAGATCTACACGCT) has an extra GCT at the end compared to Illumina's usual index primer [sequences](http://support.illumina.com/content/dam/illumina-support/documents/documentation/chemistry_documentation/experiment-design/illumina-adapter-sequences_10000000026

[2016-12-05 06:29] walterst commented on #68
Hello Thea,

Yes, those added bases were placed on the 3' end of the Illumina 5' adapter sequence to increase the Tm for read 1 during sequencing, as you surmised.

-Tony

[2016-12-05 15:50] TheaWhitman commented on #68
Hi Tony,

Thanks so much!

Cheers,
Thea

On Dec 5, 2016, at 12:29 AM, Tony <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello Thea,

Yes, those added bases were placed on the 3' end of the Illumina 5' adapter sequence to increase the Tm for read 1 during sequencing, as you surmised.

-Tony

—
You are receiving this because you commented.
Reply to this email directly, view it

[2017-05-04 20:39] tarunaaggarwal opened #78 "Adding Golay seqs to 16S reverse primers for dual barcoding"
Hello. Our lab is trying to develop 16S sequencing protocol and we'd like to have barcodes on both the forward and reverse primers. We are using the first 25 forward primers (515f) with golay barcodes and I was wondering if we can just copy the next 25 golay barcodes from the forward primers and paste them in the appropriate place within the reverse primer sequence to have dual barcoding.

If some

[2017-05-16 17:29] rrohwer opened #79 "raw data not available"
According to your ReadMe:

However, only processed biome files are available; the fastq and fasta files are not available (that I could find). Are these available on a raw data repository that handles large files such as NCBI's SRA instead? I could not find any links to that though. In order for open science to be truly open, raw data should also be available.

Thanks!
Robin

[2017-05-16 17:33] antgonza commented on #79
Hi @rrohwer, you can download the fna, fastq or demux (this is an internal format and we suggest not using it) versions of the demuxed files from the demuxed artifact.

For example:
![donwload_demux](https://cloud.githubusercontent.com/assets/2014559/26119670/4590b256-3a2b-11e7-8167-2cb428ac2e66.gif)

[2017-05-17 00:48] thwilkinson commented on #45
Regarding the MiSeq run described in the above mSystems paper, using the new 515f/806r primers (barcode residing on the forward primer):

Was the sample sheet for this run constructed any differently from sample sheets used for MiSeq runs with the original primer set?

We have a 16S library where we have incorporated the new primers, and are getting ready to sequence.  I am puzzling over whether t

[2017-05-17 02:17] cuttlefishh commented on #45
Hi Tom,

I think you mean the mapping file, which uses the barcode and linker primer sequences to demultiplex the sequence file for analysis. I sent you an email directly with an example file.

Luke

[2017-05-17 02:48] ackermag commented on #45
I think I can respond to your request but am unsure of what you mean by
sample sheet.  Do you mean the list of samples for sequencing?

On Tue, May 16, 2017 at 5:48 PM, thwilkinson <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2017-05-17 14:37] thwilkinson commented on #45
I am referring to the text file that is typically created using the Illumina Experiment Manager (IEM) program, and contains information that the MiSeq instrument needs to perform the sequencing run.

The file also contains a list of samples for sequencing, along with corresponding barcoding indices.

See:
https://support.illumina.com/downloads/miseq_sample_sheet_quick_reference_guide_15028392.html

[2017-05-17 14:49] owenssm commented on #45
Hi Tom,

Attached you’ll find an example sample sheet. We typically modify this sheet instead of using IEM to make it each time.  We don’t add all of the barcodes associated with the samples in the sample sheet, but instead add one that is 12bp long that indicates to the MiSeq that it needs to sequence a 12 bp index read.

Thanks!
Sarah

-----
Sarah M. Owens

Biosciences Division
Argonne National

[2017-06-02 22:49] #78 closed

[2017-07-12 17:49] jeffkimbrel commented on #79
Hi,

Where is the link the webpage seen in the screen shot? I too am having trouble locating the raw data.

Thanks,

Jeff

[2017-07-12 19:06] antgonza commented on #79
There is no one single link for all raw data as they are different studies. However, if you know the study_id in qiita for the study you are looking for you can simply go to:
https://qiita.ucsd.edu/study/description/[study-id], like for Moving Pictures (study id: 550) is: https://qiita.ucsd.edu/study/description/550

[2017-08-08 23:49] #17 closed

[2017-08-08 23:49] #3 closed

[2017-08-08 23:51] cuttlefishh commented on #4
This analysis was done be @tanaes for the EMP paper (Release 1).

[2017-08-08 23:51] #4 closed

[2017-08-08 23:52] cuttlefishh commented on #2
Done by me (Luke T.) and Josh Lefler for EMP paper (Release 1).

[2017-08-08 23:52] #2 closed

[2017-10-10 17:28] colinbrislawn commented on #47
Looks like the analysis notebooks are up to date, thanks to Luke @cuttlefishh Thompson. Thanks Luke!

[2017-10-10 17:28] #47 closed

[2017-10-10 17:30] cuttlefishh commented on #49
I have updated the website.

[2017-10-10 17:31] #49 closed

[2017-10-10 17:31] #60 closed

[2017-10-10 17:32] #51 closed

[2017-10-10 17:32] #50 closed

[2017-10-10 17:35] cuttlefishh commented on #48
This section has been removed from the website, because the public EMP data is all 16S and is not appropriate for these tasks, which are metagenomic in nature. However, it is worth noting these tasks in considering the next steps (EMP500 and such).

[2017-10-10 17:43] cuttlefishh commented on #68
Thanks for the clarification, Thea and Tony! I have added this to the website, and will close this issue.

[2017-10-10 17:43] #68 closed

[2017-10-10 17:49] cuttlefishh commented on #79
Hi @rrohwer, you should be able to download the raw data now using scripts in https://github.com/biocore/emp/tree/master/code/download-sequences. Please let me know if you have any problems!

[2017-10-10 17:49] #79 closed

[2017-10-10 17:50] cuttlefishh commented on #10
Resolved for EMP paper.

[2017-10-10 17:50] #10 closed

[2017-10-10 17:51] cuttlefishh commented on #43
Updated in data/ftp_contents.txt.

[2017-10-10 17:51] #43 closed

[2017-10-10 17:52] cuttlefishh commented on #5
Included in EMP paper (Fig. 1a) -- distribution of samples by EMPO environment.

[2017-10-10 17:52] #5 closed

[2017-10-10 17:56] cuttlefishh commented on #47
Thanks @colinbrislawn! I have been reviewing other issues and closing ones that are completed. If you want to help with that, please go ahead!

[2017-10-11 06:32] cuttlefishh opened #84 "add QIIME2 basic processing instructions to the EMP website"

[2017-10-13 06:37] cuttlefishh commented on #25
Files are posted to ftp://ftp.microbio.me/emp/release1.

[2017-10-13 06:37] #25 closed

[2017-10-13 06:40] #13 closed

[2017-10-13 06:41] #46 closed

[2017-10-27 02:02] adswafford opened #92 "Website (http://www.earthmicrobiome.org) hyperlinks broken"
Not certain this is the right place to file this bug, but I didn't see a help account so on two of the pages on the http://www.earthmicrobiome.org website (http://press.igsb.anl.gov/earthmicrobiome/protocols-and-standards/metadata-guide/ and http://www.earthmicrobiome.org/protocols-and-standards/ , the "EMP Ontology" hyperlinks send to http://press.igsb.anl.gov/earthmicrobiome/protocols-and-standa

[2017-10-27 04:39] cuttlefishh commented on #92
Thanks for catching that, @adswafford! I shortened the URL but failed to update links to it. Should be all good now.

[2017-10-27 04:39] #92 closed

[2017-10-27 04:52] adswafford commented on #92
No worries. I'm looking forward to the symposium next week, and exploring in preparation :-)

[2017-10-27 05:52] cuttlefishh commented on #92
There are one or two pages on the website that are still outdated. If you’re able to help edit those before next Wed, that would be great. I’ll be in the KL office tomorrow if it works to discuss then.

[2018-02-05 23:37] chloelulu commented on #79
Hi, @antgonza
I still can not download the raw fastq file in the qiita. Such as this link, https://qiita.ucsd.edu/study/description/10317
There is not raw fastq.gz file. But only the seq.demux. seq.fastq, and so on.
May I know anything wrong with me?
Thanks

[2018-02-14 22:17] galud27 opened #102 "Question: fastaq for release 1"
Hi,
Thanks for putting all the code and data analysis for the emp release 1. It's great!
I wanted to ask a question, I am very interested in performing a smaller study looking at the data but using a different pipeline for the microbial community analysis. I was able to get fastaq files for all the studies, but the data is only available in single reads in ENA. I was wondering if there any studies

[2018-02-19 17:06] rrohwer commented on #79
@chloelulu another way to get the raw fastq files is from the EBI accession number, which is listed on the page you linked.

[2018-02-19 21:19] cuttlefishh commented on #102
Hi! Thanks for your message. We hope the resource is useful to you.

For EMP Release 1, some of the studies did not have Read 2 data, and for those that did, we did not use it. This is because the amplicon size is ~253bp, and only the more recent studies, with read lengths 150-151bp, would be long enough to merge. Read 2 tends to have a higher error rate than Read 1, and merging the Read 1 and Rea

[2018-04-07 00:29] tarunaaggarwal opened #104 "Platinum Hot Start versus Q% Hot Start Hifi PCR kits"
Dear EMP protocol users - I have been using EMP's 18S protocol to sequence eDNA from marine sediments. Before ordering the expensive 18S ultra primers, we ordered just the gene specific primers for testing purposes. I run PCR with two kits using these 1391F and EukBr non-barcoded primers- [Invitrogen's Platinum Hot Start 2x master mix](https://www.thermofisher.com/order/catalog/product/13000012) a

[2018-04-09 17:31] cuttlefishh commented on #104
This comment from Jeremiah Minich (Knight Lab) may be helpful:I think either way won’t make much of a difference in overall success...(switching mastermix or using the one with fair bands). From my experience, band intensity is useful but very very difficult to quantify for any sort of sample. You really need to sequence it to know especially for samples of low biomass. If the marine sediments are

[2018-04-09 18:32] tarunaaggarwal commented on #104
Thank you for responding, Luke. So I have a curious question for Jeremiah. Costello 2009 in Science is one of the original papers that EMP references mention. Costello 2009 states that they used two PCR kits Invitrogen's Platinum PCR SuperMix or HotMasterMix (5Prime) for amplification. But on EMP's website, the 16S protocol suggests Invitrogen's Platinum Hot Start PCR Master Mix (2x).

The Platinu

[2019-04-06 13:55] alehsierra commented on #14
Any update on this?

[2019-04-06 14:43] agt24 opened #109 "buying or printing trading cards"
Thank you for this amazing project.

I'm interested in buying or printing a set of the EMP trading cards discussed [here](http://www.earthmicrobiome.org/trading-cards/) for use in my wife's Montessori school.

I have many questions (e.g. How many cards are available? Are they in the public domain? Can download a full set of PDFs? etc.) but I'm not sure if this is the right forum.

Could someone po

[2019-04-07 16:52] colinbrislawn commented on #109
This is a great idea! Thanks for getting in touch with the team! 🎒 🎴

Luke Thompson (@cuttlefishh) is the lead on this project, but I can try to answer some of your questions.

You have already discovered the links to the cards: http://www.earthmicrobiome.org/trading-cards/
As you have seen, these have the format and layout of 'wanted posters' more then trading cards. I'm not sure if a pocket size

[2019-04-08 19:33] cuttlefishh commented on #109
Hi Adam,

Thanks for the kind words. We love to see people so excited by the project.

As Colin said, the only PDFs that are ready to go for download and printing are the ones linked from http://www.earthmicrobiome.org/trading-cards/. Additionally, as Colin also said, you can generate all the cards you want using the code and data on GitHub. Yes, the cards are in the public domain and you're welco

[2019-04-08 19:43] cuttlefishh commented on #14
Hi @alehsierra, there was some discussion over on @biocore/american-gut-devs about doing this for the American Gut project (https://github.com/biocore/American-Gut), but that wouldn't address a diversity of environments. It would be easy to do with the EMP BIOM table and mapping file. In our analysis, we did look at the most prevalent sequences across the dataset (https://media.nature.com/original

[2019-04-12 10:29] marctormo opened #110 "taxons with empo habitats"
Hello!

Do you know if there is any place with a list with information of taxon and habitat? I can't find this information, and I would like to assign it to some taxons (genus or species) like this:
taxon1 habitat1
taxon2 habitat2
...
If not, is there any method to extract this info?

Thank you!

[2019-05-02 21:20] cuttlefishh commented on #110
Hi! The closest thing to what you're requesting is an "OTU summary" which lists for each unique tag sequence (variously called "ASVs" or "sOTUs") the samples in which it is found, along with some summary statistics. Combined with the mapping file, which lists the habitat of each sample, you can generate the file you're interested in. Of course, many sequences are found in more than one habitat. Th

[2019-05-03 08:00] marctormo commented on #110
Thank you!
I think this is a great solution for me.

[2019-07-15 14:09] jjkoehorst opened #111 "Raw data retrieval - We are currently updating the system. Thank you!"
I was looking for the raw datasets and I think it should be available at https://qiita.ucsd.edu/emp/ but its currently being updated? Any news on how long this will take or did I just stumble upon it by accident?

Also is this data maybe available through EBI / ENA?

[2019-07-15 14:16] antgonza commented on #111
The update has been scheduled for a few weeks now and started a few minutes ago; we expect it to be back before the end of the day. If you have the EBI-ENA accession, then that's another option. Hope this helps and sorry for the inconvenience.

[2019-07-15 14:16] #111 closed

[2019-07-15 14:25] cuttlefishh commented on #111
For the datasets in the 2017 paper, you can get the data from EBI/ENA as well as the FTP site and Zenodo. Please find the links at earthmicrobiome.org.

Luke

Em 15 de jul de 2019, à(s) 08:16, Antonio Gonzalez <notifications@github.com> escreveu:

[2020-02-17 13:51] peterjc commented on #102
I assume "fastaq" was a typo for FASTQ.

Could you give one or two specific examples with paired end data (R1 and R2) suitable for overlap merging? Thanks!

[2020-02-17 15:30] cuttlefishh commented on #102
These studies appear to have R1 and R2 data (plus index) and should be suitable for merging:

https://qiita.ucsd.edu/emp/study/description/10561
https://qiita.ucsd.edu/emp/study/description/10533

The studies numbered >10000 were sequenced after the start of 2015 and should have longer reads (150bp). If the reverse reads are present, it should be possible to merge forward and reverse reads.

[2020-02-28 21:39] tmai18 opened #114 "Searching for one specific genus of interest using 16S rRNA data"
Dear Lords of the Codes!

I'm new to coding and metagenomic analysis. Could anyone help guide me through the process of solving this problem that I have ? I have a genus of cyanobacteria that I have 16S data for (about 1.7 kb which covers nearly all of the 16S), and there are multiple species in this data set. I want to scan for 16S with high similarity (> 98%) across all microbiomes, and report t

[2020-07-27 18:30] anna-schrecengost opened #115 "18s data availability?"
I am working on a project that involves surveying public 18S SSU rRNA gene datasets for specific taxonomic groups and would like to incorporate EMP data if i can. However, I understand that release 1 is all 16S data, and when I look in the Qiita portal I only see 4 18S projects listed. Is there another place to access 18S data that has been generated as a part of the EMP?

[2020-07-27 18:49] lukenoaa commented on #115
Hi Anna, you are searching the right place. Those might be the only 4 studies with 18S data from the original EMP. There is a new set of studies (informally called EMP500) that has a lot more 18S data. It's in Qiita, but it's not public yet. Let me see where things are on either publishing or making that data public. - Luke

[2020-07-27 18:51] antgonza commented on #115
Note that you could also search/use all 18S Qiita samples, if you wanted to collect more.

[2020-07-27 20:52] lukenoaa commented on #115
Good point, @antgonza. The data for any of the 18S studies in Qiita should have been sequenced with the same 18S protocol, and the metadata should follow the same MIxS standard, as the EMP studies.

[2020-07-27 22:46] anna-schrecengost commented on #115
Thank you Luke, I appreciate it! And thank you @antgonza , that is a good point

[2020-08-19 19:56] anna-schrecengost commented on #115
Hi @lukenoaa, do you have any update on this data availability, or when it will become public?

[2020-08-19 21:33] lukenoaa commented on #115
Hi @anna-schrecengost, there's been some progress on that project, but I don't know when it will become public. Did searching all 18S studies in Qiita reveal any additional studies?

[2020-12-18 15:24] YulinzhangSia opened #122 "What kind of data was used in deblur?"
Dear administrator,

I just want to know which data did you use when you handled the EMP data with deblur (emp_deblur_90bp.subset_10k.rare_5000_match.tsv)?

The single-end data with the forward or reverse? Or pair-end data?

Regards,
Yulin

[2020-12-18 18:36] cuttlefishh commented on #122
Hi Yulin,

Everything here is from single-end forward reads. The Deblur output were trimmed to 90bp, 100bp, or 150bp, depending on the dataset.

Good luck!
Luke

[2021-06-11 21:33] lukenoaa opened #124 "Broken links on website and no "www." redirect"
Link to original EMP logo is broken: https://earthmicrobiome.org/about/logo/

Also, "www.earthmicrobiome.org" does not redirect to "earthmicrobiome.org". We might need Jeff to do a 301 redirect.

#123 @lfnothias

[2021-06-15 16:49] justinshaffer commented on #124
Thanks, Luke!

It looks like the logo link is fixed:
https://earthmicrobiome.org/about/logo/

I'll follow up with Jeff in a separate note just in case he's not on this
one.

Justin

On Fri, Jun 11, 2021 at 2:33 PM Luke Thompson ***@***.***>
wrote:

--
Justin Shaffer, PhD
IRACDA Postdoctoral Fellow
Rob Knight Group
Department of Pediatrics, School of Medicine
University of California, San Diego
jus

[2021-06-15 17:53] lukenoaa commented on #124
Hey Justin,

Hmm, for me it looks like the link is still broken.

[2021-06-15 17:57] justinshaffer commented on #124
Weird - I'm using Safari, just FYI. I'm also able to download the logos
file linked at that page.

Justin

On Tue, Jun 15, 2021 at 10:53 AM Luke Thompson ***@***.***>
wrote:

--
Justin Shaffer, PhD
IRACDA Postdoctoral Fellow
Rob Knight Group
Department of Pediatrics, School of Medicine
University of California, San Diego
justinshafferbio.wordpress.com

[2021-06-15 18:06] lukenoaa commented on #124
It is weird. It also works for me on Safari but not on Chrome or another Chrome-based browser. I wonder if it could be related to the DNS (www.) issue.

[2021-06-15 18:09] justinshaffer commented on #124
Good thought - I wasn't clear on why the 'www.' was dropped. I'll include
this in the other thread.

Justin

On Tue, Jun 15, 2021 at 11:07 AM Luke Thompson ***@***.***>
wrote:

--
Justin Shaffer, PhD
IRACDA Postdoctoral Fellow
Rob Knight Group
Department of Pediatrics, School of Medicine
University of California, San Diego
justinshafferbio.wordpress.com

[2021-09-01 17:00] dkoslicki opened #126 "FTP username and password?"
In the [data](https://github.com/biocore/emp/blob/master/data/README.md) readme, it points to an FTP server that asks for a username and password. However, these don't appear to be specified anywhere here or on the [website](https://earthmicrobiome.org/). The defaults `username` `password` also do not appear to work. any suggestions on where to access these?

[2021-09-01 17:36] dkoslicki commented on #126
Ah ha! An anonymous login worked. Thanks @antgonza

[2021-09-01 17:36] #126 closed

[2021-10-28 08:40] dinhe878 opened #127 "Issue with parsing 16S amplicon data (summarize_otu_distributions.py) from biom table exported from Qiime2"
Hi team,

I am trying to use summarize_otu_distributions.py parse my biom table exported from Qiime2. I ran into an issue:

The emp biom file (emp_deblur_90bp.subset_2k.rare_5000.biom) worked, so I suspect that it has something to do with the biom format? But I do not know where to investigate....

Any help is much appreciated!
Many thanks! /Ding

[2021-10-29 12:43] #127 closed, assigned to nobody